name: Build
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python build.py
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: golden-days-base-latest-dev
          path: golden-days-base/*
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: golden-days-alpha-latest-dev
          path: golden-days-alpha/*
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: golden-days-classic-latest-dev
          path: golden-days-classic/*
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: golden-days-better-foliage-latest-dev
          path: golden-days-better-foliage/*
      - name: Zip Options
        run: |
          cd golden-days-options
          for dir in */; do
          (cd $dir && zip -r "../${dir%*/}.zip" .)
          done
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: golden-days-options-latest-dev
          path: golden-days-options/*.zip